@import "tailwindcss" ;
@plugin "daisyui";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --color-green: #027b5d;
  --color-washed-white: #f0f4f8;
  --color-washed-grey: #f0f4f8;
}

th {
  font-weight: normal;
}